
@mixin border-radius($radius:10px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-sizing-border() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin box-shadow($hoff:0px, $voff:1px, $blur:5px, $color:#fff) {
    -webkit-box-shadow: $hoff $voff $blur $color;
    -moz-box-shadow: $hoff $voff $blur $color;
    box-shadow: $hoff $voff $blur $color;
}


